@model ScheduleModel

@{
    ViewBag.Title = "Schedules";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="row">
    <div class="content-header col-lg-12">
        <h3 class="pull-right">Schedules</h3>
    </div>
</div>
